body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    min-width: 320px;
    /* background-color: black; */
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 14px;
    line-height: 1.4285em;
    color: rgba(0,0,0,.87);
    font-smoothing: antialiased;
}

.container > div > div {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .text {
    pointer-events: none;
    justify-content: start !important;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    line-height: 0px;
    /* text-transform: uppercase; */
  }
  
  /* .number {
    font-size: 450px;
    color: #373c4c;
  }
   */
  .number span {
    display: inline-block;
    position: relative;
    transform: translate3d(-35%, 0, 0);
  }
  
  .header {
    margin-left: 350px;
    font-size: 70px;
    color: white;
  }
  
  .stripe {
    height: 2px;
    width: auto;
    background-color: whitesmoke;
  }
  
  /* .slopeBegin {
    background-color: #20232f;
    clip-path: polygon(20vw 0, 70% 0, calc(70% - 20vw) 100%, 0 100%);
  }
  
  .slopeEnd {
    clip-path: polygon(70% 0, 100% 0, calc(100% - 20vw) 100%, calc(70% - 20vw) 100%);
  } */
  
  .slopeBegin,
  .slopeEnd {
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }
  
  .pink {
    background-color: white;
  }
  
  .teal {
    background-color: black;
  }
  
  .tomato {
    background: linear-gradient(to right, tomato 0%, gold 100%);
    will-change: transform;
    /* transform: translate3d(2780.8px, 0px, 0px); */
  }

