{{!-- <body style="background-color: #f3f3f3;"> --}}
<!--Top Nav-->
<div class="ui secondary pointing menu right floated">
  <a class="item" href="#features">
    Features
  </a>
  <a class="item" href="#about">
    About
  </a>
  <a class="item" href="#download">
    Download
  </a>
  <a class="item"href="/login">
    Login 
  </a>
  <a class = "item" href="/register">
    Get Started
  </a>        
</div>

<!--Main cover-->

       <img class = "cover-img hidden content" src="/imgs/covera.png">

   
  
    
          <div class="ui grid price-display ">
           <div class="five column row">
            {{!-- <div class="left floated column"></div> --}}
            <div class="right floated column r-price">
                  <h3 class="timer count-title count-number" data-to="19" data-speed="4000"> </h3>
                    <div class="ui divider"></div>
                    <h3> <i class="dollar sign icon"></i> USD</h3>             
            </div>
             <div class="right floated column r-price">
                    <h3 class="timer count-title count-number" data-to="16.47" data-speed="3500" ></h3>
                    <div class="ui divider"></div>
                    <h3><i class="euro sign icon"></i>EUR</h3>             
            </div>
             <div class="right floated column r-price">
                     <h3 class ="timer count-title count-number" data-to="130.51" data-speed="2400"></h3>
                     <div class="ui divider"></div>
                     <h3> <i class="yen sign icon"></i>CNY</h3>      
            </div>
             <div class="right floated column r-price">
                    <h3 <h3 class ="timer count-title count-number" data-to="14.48" data-speed="3800"></h3></h3>
                    <div class="ui divider"></div>
                    <h3><i class="pound sign icon"></i>GBP</h3>             
            </div>   
              <div class="right floated column r-price">
                    <h3 class ="timer count-title count-number" data-to="340.0029" data-speed="4100"></h3>
                    <div class="ui divider"></div>
                    <h3><i class="bitcoin icon"></i>BTC</h3>             
            </div>      
              </div>
            </div>
    
   <div class="ui text shape slogan">
        <div class="sides">
          <div class="ui header side active"><h1>Haggle Better Worldwide</h1></div>
          <div class="ui header side"><h1>Avoid Scammers</h1> </div>
          <div class="ui header side"><h1>Crowdsource the Best Prices</h1></div>
        </div>
    </div>

<div class ="container center aligned" data-aos="fade-up" data-aos-duration="3000" id = "features">
 <h3 class="ui horizontal divider header">Features</h3>
<div class="ui internally celled grid features-grid">
  <div class="row">
    
    <div class="four wide column">
     {{!-- search --}}
      <div class = "row" data-aos="fade-up" data-aos-duration="3000" >
        <div class = "ui rotate reveal image">
        <img class ="features  content" id="searchimg" src="/imgs/search1.png">
        <div class="ui cards hidden content">
          <div class="card">
            <div class="content">
              <div class="header">Search from our Database of Products</div>
              <div class="description">
                We offer many popular product details from all over the world.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {{!-- feed --}}
       <div class = "row" data-aos="fade-up" data-aos-duration="3000">
         <div class = "ui rotate reveal image">
        <img class = "features  content" id ="feedimg" src="/imgs/feed.png">
            <div class="ui cards feed-card hidden content">
          <div class="card">
            <div class="content">
              <div class="header">Contribute to our Community of Hagglers</div>
              <div class="description">
                Add your prices and tips to our database to share with Hagglers all over.
              </div>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
    <div class="eight wide center aligned column">
      {{!-- chart display --}}
       <div class = "row" data-aos="fade-up" data-aos-duration="3000">
         <img class = "features visible content" id = "chartfeed" src="/imgs/chart.png">
          <div class="ui cards chart-card hidden content">
          <div class="card center align">
            <div class="content">
              <div class="header">Realtime Visual Displays</div>
              <div class="description">
                View product guides & charts displaying price summaries for the best haggling.
              </div>
            </div>
          </div>
        </div>
      </div>
      {{!-- maps --}}
       <div class = "row" data-aos="fade-up" data-aos-duration="3000">
        <img class = "features visible content" id= "mapfeature" src="/imgs/googlemaps.png">
         <div class="ui cards map-card hidden content">
          <div class="card">
            <div class="content">
              <div class="header">Map Tools with Geolocation</div>
              <div class="description">
                Get nearby store recommendations based on our analysis of the best prices in the area. 
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {{!-- currency --}}
    <div class="four wide column"  data-aos="fade-up" data-aos-duration="3000" >
      <img class = "features visible content" id = "currencyfeature" src="/imgs/currency1.png">
        <div class="ui cards currency-card hidden content">
          <div class="card">
            <div class="content">
              <div class="header">Currency Conversion</div>
              <div class="description">
                Helps make shopping abroad easy, by offering a clear overview to compare prices. 
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
</div>


<!--About-->
   <div class ="center aligned" id="about"> </div>
     <!--Technologies used-->

 <div  class = "container center aligned" data-aos="fade-up" data-aos-duration="3000" id = "technologies">
   <h3 class="ui horizontal divider header">technologies</h3>
     <div class="ui big horizontal divided list center aligned grid ui six columns wide">
  <div class="item">
    <img class="ui avatar image" src="/imgs/nodejs.png">
    <div class="middle aligned content">
      <div class="header">Node.js</div>
    </div>
  </div>
  <div class="item">
    <img class="ui avatar image" src="/imgs/googleoauth.png">
    <div class="middle aligned content">
      <div class="header">Google OAuth</div>
    </div>
  </div>
  <div class="item">
    <img class="ui avatar image" src="/imgs/semanticui.png">
    <div class="middle aligned content">
      <div class="header">Semantic UI</div>
    </div>
  </div>
  <div class="item">
    <img class="ui avatar image" src="/imgs/sequelize.svg">
    <div class=" middle aligned content">
      <div class="header">Sequelize</div>
    </div>
  </div>
  <div class="item">
    <img class="ui avatar image" src="/imgs/currencylayer.png">
    <div class="middle aligned content">
      <div class="header">CurrencyLayer</div>
    </div>
  </div>
  <div class="item">
    <img class="ui avatar image" src="/imgs/expressjs.png">
    <div class=" middle aligned content">
      <div class="header">Express</div>
    </div>
  </div>
</div>  
</div>


    <!--Meet the team-->
     <div class = "container" data-aos="fade-up" data-aos-duration="3000" id = "team">
        <h3 class="ui horizontal divider header" >Meet the Team</h3> 
          <div class = "ui stackable four column grid stackable team-grid">
            <div class = "column">
              <div class="ui card">
                <div class="content">
                  <div class="center aligned header">Thomas J Trebat</div>
                  <div class="center aligned description">
                    <p>OAuth Integration / Sequelize Models</p>
                  </div>
                </div>
                <div class="extra content">
                  <div class="center aligned author">
                <div class = "column">
                    <img class="ui avatar image" src="/imgs/thomas.jpeg">
                    </div>
                    <div class = "twelve wide column">
                    <div class ="row">
                    <a href = "https://github.com/tjtrebat"><i class="github icon"></i>tjtrebat</a>
                    </div>
                    <div class = "row">
                    <a href = "tjtrebat@gmail.com"><i class = "envelope open icon"></i>tjtrebat@gmail.com</a>
                    </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <div class = "column">
          <div class="ui card">
                <div class="content">
                  <div class="center aligned header">Luis Rishi Puno</div>
                  <div class="center aligned description">
                    <p>Full Stack Developer</p>
                  </div>
                </div>
                <div class="extra content">
                  <div class="center aligned author">
                    <div class = "four wide column">
                    <img class="ui avatar image" src="/imgs/luis.png">
                    </div>
                    <div class = "twelve wide column">
                    <div class ="row">
                    <a href = "https://github.com/LRPuno"><i class="github icon"></i>LRPuno</a>
                    </div>
                    <div class = "row">
                    <a href = "Lrpuno@gmail.com"><i class = "envelope open icon"></i>Lrpuno@gmail.com</a>
                    </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <div class = "column">
            <div class="ui card">
                <div class="content">
                  <div class="center aligned header">Brian Mejia</div>
                  <div class="center aligned description">
                    <p>Project Management / Maps API</p>
                  </div>
                </div>
                <div class="extra content">
                  <div class="center aligned author">
                    <div class = "four wide column">
                    <img class="ui avatar image" src="./imgs/brian.png">
                    </div>
                    <div class = "twelve wide column">
                    <div class ="row">
                    <a href = "https://github.com/Bmejia319"><i class="github icon"></i>Bmejia319</a>
                    </div>
                    <div class = "row">
                    <a href = "bmejia319@gmail.com"><i class = "envelope open icon"></i>bmejia319@gmail.com</a>
                    </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
               <div class = "column">
                <div class="ui card">
                <div class="content">
                  <div class="center aligned header">Alicia Chan </div>
                  <div class="center aligned description">
                    <p>Front-End / UI Design</p>
                  </div>
                </div>
                <div class="extra content">
                  <div class="center aligned author">
                    <div class = "four wide column">
                    <img class="ui avatar image" src="/imgs/oldhag.png">
                    </div>
                    <div class = "twelve wide column">
                    <div class ="row">
                    <a href = "https://github.com/aliciaC1"><i class="github icon"></i>aliciaC1</a>
                    </div>
                    <div class = "row">
                    <a href = "chan.aliciaw@gmail.com"><i class = "envelope open icon"></i>chan.aliciaw@gmail.com</a>
                    </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
        </div>
   
<!--Download-->

<div class = "container" data-aos="fade-up" data-aos-duration="3000" id ="download">
  
  <div class="ui stackable two column very relaxed grid">
  <div class="column center aligned">
     <img class="iphone-img" src="/imgs/iphoneapp.png">
  </div>
  <div class="column center aligned apps">
         <img class="app-icon" src="/imgs/iconapp.png">
         <br>
           <img class = "apple-btn" src="/imgs/app-download-buttons.png">
            <p>Get Hagg on your moblie and tablets. </p>
  </div>
</div>
 <div class="ui vertical divider">
    download
  </div>
  </div>
</div>

<br>
<br>   


 
<div class="ui inverted vertical foote basic segment">
      <div class="ui grid center aligned">
           <div class = "eight wide column">
        <a href="https://github.com/tjtrebat/project-2"><i class ="code icon"></i> View Code on Github</a>
      </div>
        <div class = "eight wide column">
        <p>
          © Copyright HAGG 2018 
        </p>
        </div>
       
   
      </div>
    </div>
<script src="/js/main.js"></script>
