<div class="ui center aligned grid">
    <div class="container-login ui center aligned grid" style="margin-top: 100px;">
        <div class="ui center aligned basic segment">
            <div class="row">
                <img class="logo-login" src="/imgs/logocaps.png">
            </div>

            <div class="ui vertical animated button" tabindex="0" id="signin-button" onclick="handleSignInClick()">
                <div class="hidden content" onclick="handleSignInClick();"> Sign in with Google</div>
                <div class="visible content">
                    <i class="google icon yellow"></i>
                </div>
            </div>
            <div class="ui horizontal divider">
                or
            </div>
            <form method="POST" action="/login">
                <div class="ui form">
                    <div class="field">
                        <div class="ui input">
                            <input type="text" placeholder="email" id="id_email" name="email">
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <input type="password" placeholder="password" id="id_password" name="password">
                            <i class="lock icon"></i>
                        </div>
                    </div>
                    <button type="submit">Login</button>
                </div>
            </form>
            <div class="ui divider"></div>
            <div class="row">
                {{#if message}}
                <p>{{{ message }}}</p>
                {{/if}}
            </div>
            <a href="/register">Forgot your username or password? </a>
            <p>Don't have an account <a href="/register">Sign Up</a></p>
            <a href="/">← Back To Home</a>
            <p>By logging in you agree to Hagg's Terms & Conditions and Privacy Policy</p> <br>
        </div>
    </div>
</div>


<script type="text/javascript">
    function handleClientLoad() {
        gapi.load('client:auth2', initClient);
    }

    function initClient() {
        gapi.client.init({
            apiKey: 'AIzaSyBh9Y5pvx1DYijufxGbRx-qpu_yjmclMyE',
            clientId: '590498702426-dlj9bk8nt5p46296juq86edcnlddg8nf.apps.googleusercontent.com',
            scope: 'profile email'
        }).then(function () {
            gapi.auth2.getAuthInstance().isSignedIn.listen(updateSigninStatus);
            //updateSigninStatus(gapi.auth2.getAuthInstance().currentUser.get());
        });
    }

    function updateSigninStatus(googleUser) {
        $.post("/login/google", {
            token: googleUser.getAuthResponse().id_token
        }, function (data) {
            console.log("Received payload");
            console.log(data);
            window.location = "/restricted/search";
        });
    }

    function handleSignInClick(event) {
        gapi.auth2.getAuthInstance().signIn().then(updateSigninStatus);
    }

    function handleSignOutClick(event) {
        gapi.auth2.getAuthInstance().signOut();
    }
</script>
<script async defer src="https://apis.google.com/js/api.js" onload="this.onload=function(){};handleClientLoad()"
    onreadystatechange="if (this.readyState === 'complete') this.onload()"></script>